
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="">Futur<span>.</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="nav-item" routerLinkActive="active"><a routerLink="/home">Accueil</a></li>
              <li class="nav-item" routerLinkActive="active"><a routerLink="/aboutus">A propos</a></li>
              <li class="nav-item" routerLinkActive="active"><a routerLink="/liste-secteur">Metier</a></li>
              <li class="nav-item" ><a href="">blog</a></li>
              <li class="nav-item" routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
            </ul>
          </nav><!-- .nav-menu -->

        
        </div>
      </div>

    </div>
  </header><!-- End Header -->



  *ngFor="let secteur of secteurs" (click)="voirPlus(secteurs.id)" 