/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us .content h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .about-us{
    margin-top: 5%;
  }
  
  .about-us .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
  }
  
  .about-us .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about-us .content ul li {
    padding: 10px 0 0 28px;
    position: relative;
  }
  
  .about-us .content ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: #1bbd36;
  }
  
  .about-us .content p:last-child {
    margin-bottom: 0;
  }

  /*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }
  
  .team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: #111;
    margin: 0 10px;
    padding-top: 8px;
    display: inline-block;
  }
  
  .team .member .social a:hover {
    color: #1bbd36;
  }
  
  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  .team .member .member-info {
    padding: 25px 15px;
  }
  
  .team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #111;
  }
  
  .team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #b4aca8;
  }
  
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #847872;
  }
  
  .team .member:hover .social {
    opacity: 1;
  }

  /*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .clients-wrap {
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }
  
  .clients .client-logo {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    background: #fff;
    height: 100px;
  }
  
  .clients .client-logo img {
    transition: all 0.3s ease-in-out;
    height: 36px;
    filter: grayscale(100%);
  }
  
  .clients .client-logo:hover img {
    filter: none;
    transform: scale(1.1);
  }
  