<section class="hero bg-cover bg-position py-4" style="background: url(assets/img/collegien.jpg)">
    <div class="container py-5 index-forward text-white">
      <h1>About Us</h1>
    </div>
  </section>

<section class="py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-5 mb-4 mb-lg-0">
          <div class="pt-1 bg-primary"><img class="img-fluid" src="assets/img/collegien.jpg" alt=""></div>
        </div>
        <div class="col-lg-6">
          <p class="h6 mb-1 text-uppercase text-primary mb-3">Our main services</p>
          <h2 class="mb-4">We Work With You To Address Your Most Critical Business Priorities</h2>
          <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <ul class="list-check list-unstyled row px-3 mb-4">
            <li class="text-small text-muted col-lg-6 mb-2">Acquire live chat enables sales</li>
            <li class="text-small text-muted col-lg-6 mb-2">Learn from customer feedback</li>
            <li class="text-small text-muted col-lg-6 mb-2">Engage - marketing automation</li>
            <li class="text-small text-muted col-lg-6 mb-2">Support -customer support</li>
            <li class="text-small text-muted col-lg-6 mb-2">Acquire live chat enables sales</li>
            <li class="text-small text-muted col-lg-6 mb-2">Learn from customer feedback</li>
          </ul>
          <ul class="list-inline py-4 border-top border-bottom d-flex align-items-center">
            <li class="list-inline-item pr-4 mr-0"><img src="img/about-sign.png" alt="" width="80"></li>
            <li class="list-inline-item px-4 mr-0 border-left">
              <h5 class="mb-0">Jhon Martin</h5>
              <p class="small font-weight-normal text-muted mb-0">Chairnan and founder </p>
            </li>
            <li class="list-inline-item pl-4 border-left">
              <h5 class="mb-0">+535 421 895 6523</h5>
              <p class="small font-weight-normal text-muted mb-0">Call to ask any question</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
      <div>
          notre equipe
      </div>
      <div class="container-equipe">
          <div class="row">
              <div class="col-md-3">
                  bhjkdn
              </div>
              <div class="col-md-3">
                bhjkdn
            </div>
            <div class="col-md-3">
                bhjkdn
            </div>
            <div class="col-md-3">
                bhjkdn
            </div>
          </div>
      </div>
  </section>

   <!-- ======= Footer ======= -->
   


