<header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="index.html"><span>Prop's Job</span></a></h1>
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li routerLinkActive="active"><a routerLink="/">Accueil</a></li>
          <li routerLinkActive="active"><a routerLink="/testorientation">Nos offres</a></li>
          <li routerLinkActive="active"><a routerLink="/metier">Secteur</a></li>
          <li routerLinkActive="active"><a routerLink="contactus">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to prop's Job</h1>
      <h2>Trouver le métier qui vous correpond</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->


<router-outlet></router-outlet>