<section id="portfolio" class="portfolio-metier">
    <div class="container">
      <div class="row portfolio-container">
        <div class="col-lg-2 col-md-6 filter-app">
          <div class="portfolio-item">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="secteur-titre"><h5 class="">Banque-finance</h5></div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 filter-web">
          <div class="portfolio-item">
            <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="secteur-titre"><h5>Numerique-Informatique</h5></div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 filter-app">
          <div class="portfolio-item">
            <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="secteur-titre"><h5>Droit & Justice</h5></div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 filter-card">
          <div class="portfolio-item">
            <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="secteur-titre"><h5>Paramédical</h5></div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 filter-web">
          <div class="portfolio-item">
            <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="secteur-titre"><h5>Architect-Btp</h5></div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 filter-app">
          <div class="portfolio-item">
            <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="secteur-titre"><h5>Rh-Communicaton</h5></div>
          </div>
        </div>

        <div class="row portfolio-container">
          <div class="col-lg-2 col-md-6 filter-card">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="secteur-titre"><h5>Assurance</h5></div>
            </div>
          </div>
  
          <div class="col-lg-2 col-md-6 filter-card">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div  class="secteur-titre"><h5>Esthetique-coiffure</h5></div>
            </div>
          </div>
  
          <div class="col-lg-2 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div  class="secteur-titre"><h5>Hotellerie-Restauration</h5></div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div  class="secteur-titre"><h5>Securité-armée-Défense</h5></div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div  class="secteur-titre"><h5>Medias</h5></div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div  class="secteur-titre"><h5>Commerce</h5></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Our Portfolio Section -->

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Prop's Job</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
        Designed by <a href="https://bootstrapmade.com/">QueenB</a>
      </div>
    </div>
  </footer><!-- End #footer -->