
<section id="hero">
  <div class="hero-container">
    <div class="row mt-5">
    <div class="col-sm-8 text">
      <h3>Welcome to prop's Job</h3>
      <p>Trouver le métier qui vous correpond</p>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </div>
  </div>
</section><!-- #hero -->

<div class="container-profil">
  <div class="row mt-5">
      <div class="col-sm-6">
          <img class="img-fluid" 
          src="assets/img/collegien.jpg">
      </div>
      <div class="col-sm-6 ">
        <h1>collegien(ne)</h1>
        Gagnez du temps dans l’orientation de vos enfants et aidez les à prendre confiance en eux ! 
        En 3 séances avec un spécialiste de l’orientation collège, 
        votre enfant aura trouvé sa voie et pourra se projeter en confiance dans l’avenir.
        <ul>
          <li>Trouver les métiers adaptés</li>
          <li>Trouver le meilleur parcours d'étude</li>
          <li>Prendre confiance en soi</li>
        </ul>
      </div>
  </div>
      <div class="row mt-5">
      <div class="col-sm-6">
        <h1>Lycéen(ne) ?</h1>
        En seconde, en 1ère ou en terminale, vous trouverez les métiers faits pour vous et 
        le chemin d’études précis pour y parvenir. Un programme individuel simple et efficace 
        qui permet de se projeter sans doute dans son avenir et de s’épanouir. 
        Vous gagnez du temps, économisez de l’argent en assurant le bon choix d’orientation.
        <ul>
          <li>Trouver les métiers adaptés</li>
          <li>Trouver le meilleur parcours d'étude</li>
          <li>Prendre confiance en soi</li>
        </ul>
      </div>
      <div class="col-sm-6 ">
        <img class="img-fluid" 
        src="assets/img/genie.jpg" >
      </div>
  </div>
      <div class="row mt-5">
      <div class="col-sm-6">
          <img class="img-fluid" 
          src="assets/img/etudiant.jpg">
      </div>
      <div class="col-sm-6">
        <h1>Etudiant(e) ?</h1>
            Pour valider un choix d’orientation ou se réorienter, 
            vous serez certain(e) de votre voie. Avec un spécialiste de 
            l’orientation vous trouverez les métiers faits pour vous et le chemin d’études pour y parvenir.
<ul>
  <li>Trouver les métiers adaptés</li>
  <li>Trouver le meilleur parcours d'étude</li>
  <li>Prendre confiance en soi</li>
</ul>
      </div>
  </div>
</div>

<div class="section get-started">
  <div class="container-button">
    <div class="row">
      
    </div>
  </div>
</div>




<main id="main">
  <div class="title">
      <h5>repondez à ces questions svp...</h5>
    </div>
    <section class="search-sec">
        <div class="container">
            <form #formulaire="ngForm">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            <select #mySelect class="form-control search-slt" id="exampleFormControlSelect1"  (change)="affichMetierEnfonctionduprofil(mySelect.value)">
                              <option>votre Profil</option>
                              <option  *ngFor="let profile of profiles" [value]="profile._id" >{{profile.libelle}}</option>
                            </select>
                        </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                  <option>votre Niveau d'étude</option>
                                  <option *ngFor="let nivoetude of niveauetude">{{nivoetude.libelle}}</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                  <option>votre Diplome</option>
                                  <option *ngFor="let diplome of diplomes">{{diplome.libelle}}</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                  <option>Choisiiez votre Filière</option>
                                  <option *ngFor="let filiere of filieres">{{filiere.libelle}}</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <button type="button" class="btn btn-danger wrn-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <section id="vuemetier" class="vue-metier">
      <div class="container">
        <div class="row">
          <div class="col-lg-4"*ngFor="let metier of metiers">
            <div class="item">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="secteur-titre"><h5 class="">{{metier.profil_metier?.libelle}}</h5></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Contact Us</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="info">
              <div>
                <i class="icofont-google-map"></i>
                <p><br></p>
              </div>
              <div>
                <i class="icofont-envelope"></i>
                <p>queenb@example.com</p>
              </div>
              <div>
                <i class="icofont-phone"></i>
                <p>+225 22 45 67 89</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Prop's Job</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
        Designed by <a href="https://bootstrapmade.com/">QueenB</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
